<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Karen Bourgeois, Arnaldo Sepulveda, Ikechukwu Mbanugo">
    <meta keywords="notetaking, note-taking, HTML, CSS, JavaScript, OpenAI, Node.js, Handlebars, UNB Bootcamp, GitHub, Git Bash, npm, Sequalize, MySQL, express, Quill, VSCode, MVC, Express.js, AJAX, Render, Heroku, Socket.io, Postman, Insomnia">
    <title>Note-Taking Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body class="Dashboard-body">
    <button type="button" class="btn btn-outline-light btn-sm log-out" id="log-out">
        <span class="fas fa-save"></span>
        <span>Log-out</span>
    </button>
    <!-- <button type="button" class="btn btn-outline-light btn-sm new-note" id="new-note"> -->
    <button type="button" class="btn btn-outline-light btn-sm" id="new-note" >
        <span class="fas fa-save"></span>
        <span>New Note</span>
    </button>

    <input type="text" id="searchInput" placeholder="Search notes">
    <button id="searchButton">Search</button>
    <select id="filter-dropdown">
        <option value="Filter">Filter</option>
        <option value="ASC">Ascending</option>
        <option value="DESC">Descending</option>
        <option value="createdAt">Created At</option>
        <option value="updatedAt">Updated At</option>
      </select>

    <header class="header-dashboard">
        
    </header>
    <div class="Dashboard-title">
            <h1>Dashboard</h1><br><br>
    </div>

    <div class="notes-box">
        
        <div id="save-notes-box">
            <h2 class="saved-title">Saved Notes<br></h2>
        
            <div class="notes-layout">
                <div id="note-titles" class="note-titles"></div>
            </div>

        </div>

        <div id="preview-box">
            <h2 class="preview-title">Preview</h2>
            <div class="preview-layout">
                <div id="note-content" class="note-content"></div>
            </div>
        </div>
    </div>
    <footer class="Dashboard-footer">
        <h6>&copy;2024 Karen Bourgeois, Arnaldo Sepulveda, Ikechukwu Mbanugo | Photo by <a href="https://unsplash.com/@laikanotebooks?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Laika Notebooks</a> on <a href="https://unsplash.com/photos/yellow-and-gray-softbound-book-near-brown-clip-board-pONH9yZ-wXg?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> | Photo by <a href="https://unsplash.com/@aaronburden?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Aaron Burden</a> on <a href="https://unsplash.com/photos/write-ideas-book-on-brown-wooden-board-AXqMy8MSSdk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  
        </h6>
    </footer>

    <script src="../assets/js/script.js"></script>
    <script src="../assets/js/notes-script.js"></script>

</body>

</html>