<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Karen Bourgeois, Arnaldo Sepulveda, Ikechukwu Mbanugo">
    <meta keywords="notetaking, note-taking, HTML, CSS, JavaScript, OpenAI, Node.js, Handlebars, UNB Bootcamp, GitHub, Git Bash, npm, Sequalize, MySQL, express, Quill, VSCode, MVC, Express.js, AJAX, Render, Heroku, Socket.io, Postman, Insomnia">
    <title>Note-Taking Signup</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    
    <header class="Sign-Up-header"></header>

    <div class="sign-up-box">
        <h1 id="sign-up-title" aria-label="Sign-Up Form">Sign-up Form</h1>
        <p id="sign-para" aria-label="Fill in your information, please">Fill in your information, please</p>
        <form id="sign-up-form" method="POST" action="/api/signup">
            <input name="username" id="username-box" cols="30" rows="1" placeholder="Username" aria-label="Username"></input>
            <input name="email" id="email-box" cols="30" rows="1" placeholder="Email" aria-label="Email"></input><br>
            <input type="password" name="password" id="password-box" cols="30" rows="1" placeholder="Password" aria-label="Password"></input><br><br>
            <button type="button" id="sign-up-page-btn" aria-label="Clear Form Button">Clear Form</button>
            <button type="submit" id="submit-button" aria-label="Submit button">Submit</button>
        </form>
    </div>

    <footer class="footer" aria-label="footer">
        <h6>&copy;2024 Karen Bourgeois, Arnaldo Sepulveda, Ikechukwu Mbanugo | Photo by <a href="https://unsplash.com/@nevenkrcmarek?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Neven Krcmarek</a> on <a href="https://unsplash.com/photos/person-about-to-write-on-white-printer-paperr-HWbxSLvmSww?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> | Photo by <a href="https://unsplash.com/@kellysikkema?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Kelly Sikkema</a> on <a href="https://unsplash.com/photos/white-printer-paper-beside-pens-Oz_J_FXKvIs?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> | Photo by <a href="https://unsplash.com/@stilclassis?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Marissa Grootes</a> on <a href="https://unsplash.com/photos/silver-laptop-computer-near-notebook-ck0i9Dnjtj0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> | Photo by <a href="https://unsplash.com/@stilclassis?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Marissa Grootes</a> on <a href="https://unsplash.com/photos/white-paper-near-clips-YwPNWDNZHkg?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  
        </h6>
    </footer>

    <script src="/assets/js/script.js"></script>

</body>

</html>