* {
    font-family: "Poppins", "Ariel", sans-serif;
}

body {
    background-color: black;
    font-size: 25px;
}

.header-landing-page {
    background-image: -webkit-linear-gradient(rgba(0,0,0,.3),rgb(0,0,0,.7)), url(../img/neven-krcmarek-HWbxSLvmSww-unsplash.jpg);
    background-image:linear-gradient(rgba(0,0,0,.3),rgb(0,0,0,.7)), url(../img/neven-krcmarek-HWbxSLvmSww-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#sign-in-title {
    font-size: 50px;
    color: greenyellow;
}

#sign-in-box {
    position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	        transform:translate(-50%,-50%);
	text-align:center;
}

#username-box 
#password-box {
    color: grey;
    background-color: antiquewhite;
    
}

#sign-in-button:hover {
    background-color: greenyellow;
    color: blue;
}

#sign-in-button {
    background-color: antiquewhite;
    color: grey;
}

#log-out:hover {
    background-color: greenyellow;
    color: blue;
}

#rest-button:hover {
    background-color: greenyellow;
    color: blue;
}

#rest-button {
    background-color: antiquewhite;
    color: grey;
}

#sign-up-button:hover {
    background-color: greenyellow;
    color: blue;
}

#sign-up-button {
    background-color: antiquewhite;
    color: grey;
}

.Sign-Up-header {
    background-image:linear-gradient(rgba(211,211,211,.3),rgb(0,0,0,.7)), url(../img/kelly-sikkema-Oz_J_FXKvIs-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.sign-up-box {
    position:absolute;
	top:50%;
	left:45%;
	-webkit-transform:translate(-50%,-50%);
	        transform:translate(-50%,-50%);
	text-align:center;
}

#sign-up-page-btn:hover {
    background-color: greenyellow;
    color: blue;
}

#new-note:hover {
    background-color: greenyellow;
    color: blue;
}

#sign-up-page-btn {
    background-color: antiquewhite;
    color: grey;
}

#submit-button:hover {
    background-color: greenyellow;
    color: blue;
}

#submit-button {
    background-color: antiquewhite;
    color: grey;
}

#sign-up-title {
    font-size: 50px;
    color: greenyellow;
}

#sign-para {
    color: greenyellow;
}

.footer {
    font-size: 15px;
    color: antiquewhite;
    text-align:center;
}

.Dashboard-body {
    color: antiquewhite;
}

.notes-box {
    position:absolute;
	top:50%;
	left:45%;
	-webkit-transform:translate(-50%,-50%);
	        transform:translate(-50%,-50%);
	text-align:center;
    display: flex;
    gap: 5rem;
}

.header-dashboard {
    margin-bottom: 0;
    background-image: -webkit-linear-gradient(rgba(211,211,211,.3),rgb(0,0,0,.7)), url(../img/laika-notebooks-pONH9yZ-wXg-unsplash.jpg);
    background-image:linear-gradient(rgba(211,211,211,.3),rgb(0,0,0,.7)), url(../img/laika-notebooks-pONH9yZ-wXg-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.Dashboard-title {
    position: absolute;
    top: 10%;
    left: 10%;
    text-align:center;
    font-size: 40px;
}

#save-notes-box {
    background-color: rgba(211,211,211, 0.2);
    height: auto;
    width: 500px;
    
}

.saved-title {
    text-decoration: underline;
    text-align:center;
    font-size: 25px;
}

#preview-box {
    background-color: rgba(211,211,211, 0.2);
    height: auto;
    width: 500px;
}

.preview-title {
    text-decoration: underline;
    text-align:center;
    font-size: 25px;
}

.Dashboard-footer {
    font-size: 15px;
    text-align: center;
}

/* Media Query */

@media (max-width: 900px) {
    body {
        background-color: black;
        font-size: 30px;
    }
    
    .header-landing-page {
        background-image: -webkit-linear-gradient(rgba(0,0,0,.3),rgb(0,0,0,.7)), url(../img/mobilePage.jpg);
        background-image:linear-gradient(rgba(0,0,0,.3),rgb(0,0,0,.7)), url(../img/mobilePage.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
    
    #sign-in-title {
        font-size: 40px;
        color: greenyellow;
    }
    
    #sign-in-box {
        display: block;
        -webkit-transform:translate(-50%,-50%);
                transform:translate(-50%,-50%);
        text-align:center;
    }

    .Sign-Up-header {
        background-image: -webkit-linear-gradient(rgba(211,211,211,.3),rgb(0,0,0,.7)), url(../img/mobilePage2.jpg);
        background-image:linear-gradient(rgba(211,211,211,.3),rgb(0,0,0,.7)), url(../img/mobilePage2.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
    
    .sign-up-box {
        display: block;
        -webkit-transform:translate(-50%,-50%);
                transform:translate(-50%,-50%);
        text-align:center;
    }

    #save-notes-box {
        display: block;
        background-color: rgba(211,211,211, 0.2);
        height: auto;
        width: auto;
    }

    .saved-title {
        display: block;
        text-decoration: underline;
        text-align:center;
        font-size: 25px;
    }

    .Dashboard-title {
        position: absolute;
        text-align:center;
        font-size: 40px;
    }

    #preview-box {
        background-color: rgba(211,211,211, 0.2);
        display: block;
        height: auto;
        width: 100px;
    }
    
}

@media (max-width: 780px) {
    body {
        background-color: black;
        font-size: 30px;
    }
    
    .header-landing-page {
        background-image: -webkit-linear-gradient(rgba(0,0,0,.3),rgb(0,0,0,.7)), url(../img/mobilePage.jpg);
        background-image:linear-gradient(rgba(0,0,0,.3),rgb(0,0,0,.7)), url(../img/mobilePage.jpg);
        height: auto;
        background-size: cover;
        background-position: center;
    }
    
    #sign-in-title {
        font-size: 40px;
        color: greenyellow;
    }
    
    #sign-in-box {
        display: block;
        -webkit-transform:translate(-50%,-50%);
                transform:translate(-50%,-50%);
        text-align:center;
    }

    .Sign-Up-header {
        background-image: -webkit-linear-gradient(rgba(211,211,211,.3),rgb(0,0,0,.7)), url(../img/mobilePage2.jpg);
        background-image:linear-gradient(rgba(211,211,211,.3),rgb(0,0,0,.7)), url(../img/mobilePage2.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
    
    .sign-up-box {
        display: block;
        -webkit-transform:translate(-50%,-50%);
                transform:translate(-50%,-50%);
        text-align:center;
    }

    .Dashboard-title {
        position: absolute;
        text-align:center;
        font-size: 40px;
    }
    
    #save-notes-box {
        background-color: rgba(211,211,211, 0.2);
        height: auto;
        width: 500px;
        
    }
    
    .saved-title {
        text-decoration: underline;
        text-align:center;
        font-size: 25px;
    }
    
    #preview-box {
        background-color: rgba(211,211,211, 0.2);
        height: auto;
        width: 500px;
    }
    
    .preview-title {
        text-decoration: underline;
        text-align:center;
        font-size: 25px;
    }
    
    .Dashboard-footer {
        font-size: 15px;
        text-align: center;
    }
    

    @media (max-width: 480px) {
        .Dashboard-body {
            color: antiquewhite;
        }

        .header-landing-page {
            background-image: -webkit-linear-gradient(rgba(0,0,0,.3),rgb(0,0,0,.7)), url(../../../public/assets/img/mobilePage.jpg);
            background-image:linear-gradient(rgba(0,0,0,.3),rgb(0,0,0,.7)), url(../../../public/assets/img/mobilePage.jpg);
            height: auto;
            background-size: cover;
            background-position: center;
        }
        
        .notes-box {
            display:flex;
            justify-content: center;
            text-align:center;
            flex-wrap: wrap;
            top: 600px;
        }
        
        .Dashboard-title {
            justify-content: center;
            display: block;
            top: 15%;
            font-size: 30px;
        }
        
        #save-notes-box {
            display: flex;
            justify-content: flex-start;
            background-color: rgba(211,211,211, 0.2);
            height: auto;
            width: 280px;
            top: 25%;
        }
        
        #preview-box {
            border: 2px solid antiquewhite;
            background-color: rgba(211,211,211, 0.2);
            height: auto;
            width: 280px;
            
        }
        
        .saved-title {
            text-decoration: underline;
            text-align:center;
            font-size: 25px;
        }
        
        .preview-title {
            text-decoration: underline;
            text-align:center;
            font-size: 25px;
        }
        
        .Dashboard-footer {
            font-size: 15px;
            text-align: center;
        }
        
        #save-notes-box {
            border: 2px solid antiquewhite;
            background-color: rgba(211,211,211, 0.2);
            margin-bottom: 15px;
            display: block;
            top: 40%;
        }
        
        #Preview-box {
            border: 2px solid antiquewhite;
            background-color: rgba(211,211,211, 0.2);
        }


    }

    
}