<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notes</title>
</head>
<body>
  <h1>Notes</h1>
  <% if (notes && notes.length > 0) { %>
    <ul>
      <% notes.forEach(note => { %>
        <li>
          <a href="/notes/<%= note.id %>"><%= note.title %></a>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No notes available</p>
  <% } %>
</body>
</html>